#todo
{
border:1px solid black;
width:600px;
height:600px;
float:left ;

}
.fila1
{
background-color:  #21c500;
width:389px;
height:100px;
float:left ;
margin-right: 5px;
margin-left: 5px;
margin-top: 5px

}
.fila2
{
background-color: #a8f500;
width:195px;
height:100px;
float:left ;
margin-top: 5px;
}
.fila3
{
background-color: black;
width:190px;
height:200px;
float:left ;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
color:white;
}
.fila4
{
background-color: #a8f500;
width:195px;
height:200px;
float:left ;
margin-top: 5px;
margin-right: 5px;
}
.fila5
{
background-color:  #21c500;
width:195px;
height:97.5px;
float:left ;
margin-top: 5px;
margin-bottom: 5px;
}
.fila6
{
background-color: #a8f500;
width:195px;
height:97.5px;
float:left ;
}
.fila7
{
background-color:  #21c500;
width:390px;
height:100px;
float:left ;
margin-right: 5px;
margin-top: 5px;
margin-left: 5px
}
.fila8
{
background-color: black;
width:195px;
height:205px;
float:right;
margin-top: 5px;
margin-right: 5px;
color:white;
}
.fila9
{
background-color:  #21c500;
width:390px;
height:100px;
float:left ;
margin-top: 5px;
margin-left: 5px;
}
.fila10
{
background-color:  #21c500;
width:190px;
height:70px;
float:left ;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
}
.fila11
{
background-color:  #21c500;
width:195px;
height:70px;
float:left ;
margin-top: 5px;
margin-right: 5px;
}
.fila12
{
background-color:  #21c500;
width:195px;
height:70px;
float:left ;
margin-top: 5px;
margin-right: 5px;
}









