.newspaper {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px; /* Firefox */
    column-gap: 100px;
    -webkit-column-rule-style: dashed; /* Chrome, Safari, Opera */
    -moz-column-rule-style: dashed; /* Firefox */
    column-rule-style: dashed;
    -webkit-column-rule-color: darkred; /* Chrome, Safari, Opera */
    -moz-column-rule-color: darkred; /* Firefox */
    column-rule-color: darkred;
    }