body 
{
font-family: 'Courgette',sans-serif;
}
div 
{
background-color:blue;
box-shadow: 10px 10px green;
width: 50%;
height:200px;
}
h1 
{
color: white;
text-shadow: 4px 4px 8px orange;
text-align:center;
padding:60px;  
}
#shadow2
{
margin-left:10px;
border-radius: 20px;
box-shadow: 0 0 15px 10px maroon;
box-shadow: 0 0 15px 10px;
background: gray;
}
#shadowtext
{
color: white;
text-shadow: 4px 4px 8px black;
text-align:center;
padding:60px;   
}