#p1 {background-color: hsl(0, 100%, 30%);}      
#p2 {background-color: hsl(0, 100%, 50%); margin-top:-16px;}  
#p3 {background-color: hsl(0, 100%, 70%);margin-top:-16px;}  
#p4 {background-color: hsl(0, 100%, 90%);margin-top:-16px;}