#rscorner
{
border-radius:25%;
background: blue;
padding:20px;
width:200px;
height:110px;
color:white;
}
#rscorner2
{
border-radius: 20px / 100px;
background: gray;
padding: 20px;
width:200px;
height:100px;
color:white;
margin-top:10px;
}
#rscorner3 
{
border-radius: 60px 170px;
background:gold;
padding: 20px;
width: 200px;
height:110px;
margin-top:10px;
color:blue;
}
#rscorner4 
{
border-radius: 200px 200px;
background:maroon;
padding: 15px;
width: 200px;
height:110px;
margin-top:10px;
color:yellow;
}
p
{
padding-top:5px;
padding-left: 5px;
}